<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sharelockr - Quel est ton groupe ?</title>
</head>
<body>
    <h1>Quel est ton groupe ?</h1>
    <select id="idGroupe" class="form-control" name="idGroupe">
        <option value="B1 Groupe 1.xml">B1 Groupe 1</option>
        <option value="B3 Groupe 1 IRC-FA.xml">B3 Groupe 1 IRC-FA</option>
        <option value="B3 Groupe 2 IRC-FE.xml">B3 Groupe 2 IRC-FE</option>
        <option value="B3 Groupe 3 DLW-FA.xml">B3 Groupe 3 DLW-FA</option>
        <option value="B3 Groupe 4 DLW-FE.xml">B3 Groupe 4 DLW-FE</option>
        <option value="CPI1 Groupe 1.xml">CPI1 Groupe 1</option>
        <option value="CPI1 Groupe 2.xml">CPI1 Groupe 2</option>
        <option value="CPI1 Groupe 3 INT.xml">CPI1 Groupe 3 INT</option>
        <option value="CPI2 Groupe 1.xml">CPI2 Groupe 1</option>
        <option value="CPI2 Groupe 2.xml">CPI2 Groupe 2</option>
        <option value="CPI2 Groupe 3 INT.xml">CPI2 Groupe 3 INT</option>
        <option value="CQPM -.xml">CQPM -</option>
        <option value="ERIS1 Groupe 1 FE.xml">ERIS1 Groupe 1 FE</option>
        <option value="ERIS1 Groupe 2 FA.xml">ERIS1 Groupe 2 FA</option>
        <option value="ERIS2 Groupe 1 FE.xml">ERIS2 Groupe 1 FE</option>
        <option value="ERIS2 Groupe 2 FA.xml">ERIS2 Groupe 2 FA</option>
        <option value="GRH Alternance.xml">GRH Alternance</option>
        <option value="GRH Classiques.xml">GRH Classiques</option>
        <option value="I1 Groupe 1.xml">I1 Groupe 1</option>
        <option value="I1 Groupe 2.xml">I1 Groupe 2</option>
        <option value="I1 Groupe 3.xml">I1 Groupe 3</option>
        <option value="I1 Groupe 4 Licence.xml" selected="">I1 Groupe 4 Licence</option>
        <option value="I1 Groupe 5 Apprentis.xml">I1 Groupe 5 Apprentis</option>
        <option value="I1 Groupe 6 Apprentis.xml">I1 Groupe 6 Apprentis</option>
        <option value="I2 Groupe 1.xml">I2 Groupe 1</option>
        <option value="I2 Groupe 2.xml">I2 Groupe 2</option>
        <option value="I2 Groupe 3.xml">I2 Groupe 3</option>
        <option value="I2 Groupe 4.xml">I2 Groupe 4</option>
        <option value="I2 Groupe 5 FA.xml">I2 Groupe 5 FA</option>
        <option value="I2 Groupe 6 FA.xml">I2 Groupe 6 FA</option>
        <option value="I2 Groupe 7 FA.xml">I2 Groupe 7 FA</option>
        <option value="I2 Groupe 8 FA.xml">I2 Groupe 8 FA</option>
        <option value="I2 Temporaire.xml">I2 Temporaire</option>
        <option value="I3 Groupe 1.xml">I3 Groupe 1</option>
        <option value="I3 Groupe 2.xml">I3 Groupe 2</option>
        <option value="I3 Groupe 3.xml">I3 Groupe 3</option>
        <option value="I3 Groupe 4.xml">I3 Groupe 4</option>
        <option value="I3 Groupe 5 Cpro.xml">I3 Groupe 5 Cpro</option>
        <option value="I3 Groupe 6 Cpro.xml">I3 Groupe 6 Cpro</option>
        <option value="I3 Groupe 7 Cpro.xml">I3 Groupe 7 Cpro</option>
        <option value="MS2D1 Groupe 3 FE.xml">MS2D1 Groupe 3 FE</option>
        <option value="MS2D1 Groupe 4 FA.xml">MS2D1 Groupe 4 FA</option>
        <option value="MS2D2 Groupe 3 FE.xml">MS2D2 Groupe 3 FE</option>
        <option value="MS2D2 Groupe 4 FA.xml">MS2D2 Groupe 4 FA</option>
        <option value="RGRH1 Alternance.xml">RGRH1 Alternance</option>
        <option value="RGRH1 Classiques.xml">RGRH1 Classiques</option>
        <option value="RGRH2 Alternance.xml">RGRH2 Alternance</option>
        <option value="RGRH2 Classiques.xml">RGRH2 Classiques</option>
        <option value="TSST -.xml">TSST -</option>
    </select>


</body>
</html>